@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-center">Sistema de Manejo de Equipos y Jugadores</h1>
    <div class="container">
        <div class="jumbotron text-center" style="background-image: url('/images/futbol-banner.jpg'); background-size: cover;">
            <h2>Bienvenidos a la Liga Pro Ecuador 2024</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Equipos</h3>
                <p>Gestiona los equipos participantes en la Liga Pro.</p>
                <a href="/Equipoes" class="btn btn-primary">Ver Equipos</a>
            </div>
            <div class="col-md-4">
                <h3>Jugadores</h3>
                <p>Consulta la lista de jugadores por equipo.</p>
                <a href="/Jugadors" class="btn btn-primary">Ver Jugadores</a>
            </div>
            <div class="col-md-4">
                <h3>Estadios</h3>
                <p>Información sobre los estadios de la Liga Pro.</p>
                <a href="/Estadios" class="btn btn-primary">Ver Estadios</a>
            </div>
        </div>
    </div>



</div>
